html {
	 background-color: #ff5050;
}

body {
	font-family: Bangers;
	height: 100vh;
	width: 100%;
	margin: 0;
}

.title {
	color: white;
	height: 25%;
}

.love {
	color: transparent;
	height: 15%;
}

h1 {
	padding-left: 5%;
	margin: 0;
}
h2 {
	padding-top: 3%;
	margin: 0;
	font-size: 250%;
}
