html {
	 background-color : #ff5050;
}

body {
	font-family: Bangers;
	height: 100vh;
	width: 100%;
	margin: 0;
}

.title {
	color: white;
	height: 20%;
	text-align: center;
}

.love {
	color: transparent;
	height: 15%;
	width: 10%;
}

p {
	padding-top: 2%;
	margin: 0;
	font-size: 200%;
}

.intro {
	padding-top: 3%;
	font-size: 250%;
	margin: 0;
}

.miyazaki {
	margin-left: 20%;
}

.noms {
	margin-left: 70%;
}

.fluffies {
	margin-left: 40%;
}

.frisbee {
	margin-left: 90%;
}

.ukulele {
	margin-left: 30%;
}