* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        font-family: VT323;
        color: white;
    }

.page {
	min-height: 100vh;
	background-clip:content-box;
}

.one {
	background-color: #1A3A4F;
}

.two {
	background-color: #006792;

}

.three {
	background-color: #8A92A5;
}

.four {
	background-color: #FFE3A4;
}

.five {
	background-color: #F5A67F;
}

#footer {
    position: fixed;
    text-align: center;
    padding-right: 3cm;
    bottom: 10px;
    width: 100%;
}

a {
	color: white;
}

#intro {
	text-align: center;
	vertical-align: middle;
}

